<div class="company-view-transactions-wrapper">
  <app-header></app-header>
  <br>
  <div class="container">
    <div>

    </div>
  </div>
  <!--
  <table *ngFor="let transaction of transactions; let i = index" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transaction | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
    <br>
  </table>
  -->
  <div class="row row-cols-1 row-cols-md-2 g-4"> <!-- start of car -->
    <div class="col">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

  </div> <!-- end of card -->

</div>
